@charset "UTF-8";
/* CSS Document */

html, 
html * {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Gotham, Helvetica Neue, Helvetica, Arial," sans-serif";
}

header {
	padding: 32px;
	
	
}

img {
	width: 100%;
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}

footer {
	padding: 20px 30px;
	background-color: #dbecf1;
}

body {
	margin-left: auto;
	margin-right: auto;
	
}

.style-logo {
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 25px;
}

.style-nav ul {
	list-style-type: none;
}

.style-nav ul li a {
	text-decoration: none;
	color: #2F322A;
	text-align: center;
	display: block;
	text-transform: uppercase;
	padding: 8px;
}

.hero {
    background-image: url(../images/design-white.jpg);
    min-height: 500px;
    background-size: cover;
    padding: 100px 10px 10px;
    color: #FFFFFF;
    text-align: left;
    background-position: 75% center;
    position: relative;
    vertical-align: bottom;
	margin-bottom: 10px;
}
.hero-text {
	letter-spacing: 3px;
	padding: 20px;
	background-color: rgba(0,0,0,0.62);
	position: relative;
}
.tt-logo {
	position: absolute;
	width: 75px;
	bottom: 15px;
	right: 30px;
	z-index: 1;
	background-color: white;
	border-radius: 50%;
	padding: 10px;
}
.intro {
	line-height: 1.4;
}
.intro::first-letter {
	font-size: 30px;
	padding: 5px 10px;
	background-color: blueviolet;
	margin: 10px 10px 0 0 ;
	border-radius: 5px;
	
}
.square-text {
	background-color: rgba(0,146,255,1.00);
	padding: 10px;
}



h1 {
	font-size: 30px;
	text-transform: uppercase;
	font-weight: 200;
	margin-bottom: 20px;
}

h2 {
	letter-spacing: 2px;
	font-size: 30px;
	text-transform: uppercase;
	font-weight: 200;
	margin-bottom: 20px;
}

h3 {
	font-size: 22px;
	text-transform: uppercase;
	font-weight: 200;
	margin-bottom: 20px;
}

h4 {
	font-size: 16px;
	font-weight: 200;
	margin-bottom: 20px;
	letter-spacing: 2px;
}

p {
	font-size: 16px;
	font-weight: 400;
	margin-bottom: 35px;
}

.button {
	border: 2px #FFFFFF solid;
	padding: 8px 30px;
	border-radius: 30px;
	color: #FFFFFF;
	text-decoration: none;
}
.info-box-one,.info-box-two {
	min-height: 400px;
	border-radius: 5px;
	box-shadow: 0 0 9px 0px black;
}
.info-box-one {
	margin: 0px 0px 10px;
	background: linear-gradient(45deg, rgba(49,170,226,1)0%, rgba(157,53,192,1)100% );
	color: #FFFFFF;
	padding: 30px 20px 60px;
	text-align: left;
	
}

.info-box-two {
	text-align: left;
	margin: 0px 0px 10px;
	background-color: #2D2D35;
	color: #FFFFFF;
	padding: 30px 20px 60px;
	
}
#profile-img {
	border: 1px solid white;
	float: right;
	width: 100px;
	border-radius: 50%;
}

.footer-text {
	font-size: 13px;
	margin-bottom: 20px;
}

.col {
	width: 100%;
}

.row:before, .row:after {
	content: "";
	display: table;
}

.row:after {
	clear: both;
}
/*Button*/
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
	letter-spacing: 5px;
	font-weight: 200;
}
.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #FFFFFF;
    display: block;
    transition: 0.3s;
}
button {
	 z-index: 2;
    position: fixed;
    Bottom: 90%;
    right: 5%;
	background-color:black ;
	font-family: 'Orbitron';
	font-size: 1em;
	border: 2px #FFFFFF solid;
	padding: 8px 30px;
	border-radius: 30px;
	color: #FFFFFF;
	text-decoration: none;
	cursor: pointer;
	box-shadow: inset 0 0 0 0 #D80286;
	transition: ease-out 0.4s;
}
button:hover {
   box-shadow: inset 400px 0 0 0 #D80286;
}
/*main nav column*/
.main-nav {
	display: none;
}
/***********************thirds BOXES*/
.third-box {
	letter-spacing: 2px;
	border-radius: 5px;
	text-align: center;
	color: white;
	padding: 20px;
	background-color: #99489F;
	min-height: 200px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.col-third{
	padding: 20px;
}

/*Tablet View*/

@media (min-width: 768px){
	
	body {
		max-width: 778px;
	}
	
	.main-nav {
	display: inline;
}
	button {
		display: none;
	}
	
	.style-nav ul li {
		
		display: inline-block;
	}
	
	.style-nav ul {
		
		text-align: center;
	}
	
	h1 {
		font-size: 40px;
		margin-bottom: 90px;
	}
	
	h2 {
		margin-bottom: 16px;
	}
	
	.col-md-one-half {
		width: 50%;
	}
	
	.col {
		float: left;
		padding: 0px 7px 14px;
	}
	.col-third {
		float: left;
		width: 33.33%;
		padding: 10px;
	}
	.info-box-one,.info-box-two {
		min-height: 550px;
	}
}

/*Desktop View*/

@media (min-width: 1024px){
	
	body {
		max-width: 1200px;
	}
	
	.style-logo {
		float: left;
	}
	
	.style-nav {
    float: right;
	}
	
	.col-lg-one-fourth {
		width: 25%;
	}
	.container {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}
	.info-box-one,.info-box-two {
		min-height: 400px;
	}
}
